[submodule "3rd/Manifold"]
	path = 3rd/Manifold
	url = git@github.com:hjwdzh/Manifold.git
[submodule "3rd/pytorch-meta"]
	path = 3rd/pytorch-meta
	url = git@github.com:tristandeleu/pytorch-meta.git
[submodule "3rd/pointnet.pytorch"]
	path = 3rd/pointnet.pytorch
	url = git@github.com:mvandermerwe/pointnet.pytorch.git
